{% extends 'base/base-mail.html.twig' %}


{% block title %}Bienvenue sur notre plateforme
{% endblock %}

{% block header_title %}Création de compte
{% endblock %}

{% block content %}
	<p class="greeting">Bonjour
		{{ user.prenom }}
		{{ user.nom }},</p>

	<div class="message">
		<p>Votre compte a été créé avec succès. Voici vos identifiants de connexion :</p>
		<ul style="margin-left: 20px; margin-top: 8px;">
			<li>Email :
				{{ user.email }}</li>
			<li>Mot de passe temporaire :
				{{ password }}</li>
		</ul>
	</div>

	<div class="button-container">
		<a href="{{ url('app_login') }}" class="button">Se connecter</a>
	</div>

	<p class="message">
		Pour des raisons de sécurité, nous vous recommandons de changer votre mot de passe lors de votre première connexion.
	</p>
{% endblock %}
