{% extends 'base/base-mail.html.twig' %}

{% block title %}Réinitialisation de votre mot de passe
{% endblock %}

{% block header_title %}Demande de Réinitialisation
{% endblock %}

{% block content %}
	<p class="greeting">Bonjour
		{{ user.prenom }}
		{{ user.nom }},</p>

	<div class="message">
		<p>Nous avons bien reçu votre demande de réinitialisation de mot de passe.</p>
		<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le bouton ci-dessous :</p>

		<div style="text-align: center; margin: 20px 0;">
			<a href="{{ url }}" style="background-color: #1E81B0; color: #ffffff; padding: 12px 20px; text-decoration: none; font-size: 16px; border-radius: 4px;">
				Réinitialiser mon mot de passe
			</a>
		</div>

		<p>Si le bouton ne fonctionne pas, copiez et collez le lien suivant dans votre navigateur :</p>
		<p style="word-wrap: break-word; background-color: #EEE; padding: 10px; border-radius: 4px;">{{ url }}</p>

		<p>
			<strong>Ce lien est valable pour une durée limitée de 30 minutes.</strong><br>

		</p>

		<p>Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer ce message.</p>
	</div>

	{# <p class="message" style="margin-top: 20px;">
				Merci pour votre confiance.<br>
				Cordialement,<br>
				L'équipe
				{{ nombase }}
			</p> #}
{% endblock %}
